*.DS_Store
.avalonia-build-tasks
JetBrains
Microsoft\
Unreal Engine/UnrealBuildTool
expressvpn
flutter
github-copilot
jgit
karabiner
pgcli
qBittorrent
rasa
raycast/extensions
simple-update-notifier
wireshark
xbuild
copyq
pgcli
