*.DS_Store
.avalonia-build-tasks
JetBrains
Microsoft\VisualStudio Services/8.0/Cache
Unreal Engine/UnrealBuildTool
expressvpn
flutter
gh
gh
github-copilot
jgit
karabiner
pgcli
qBittorrent
rasa
raycast/extensions
simple-update-notifier
wireshark
xbuild
Microsoft\VisualStudio Services/8.0/Cache
copyq
Microsoft\VisualStudio Services/8.0/Cache
gh
pgcli
