*.DS_Store
.avalonia-build-tasks
JetBrains
expressvpn
flutter
github-copilot
jgit
karabiner
qBittorrent
rasa
raycast/extensions
simple-update-notifier
wireshark
xbuild
copyq
btop
zed
Ryujinx
pgcli
litecli

Unreal Engine/UnrealBuildTool
